.contentBox {
  margin-bottom: 1em;
}

.inputBox {
  float: left;
  margin-right: .4em;
  width: 30px;
}

.checkbox {
  content: '';
  cursor: pointer;
  display: block;
  margin-right: 1em;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #D1D1D1;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.checkbox:checked {
  width: 13px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-color: #32be8f;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox:focus {
  outline: none;
}
