/* ------------ GENERAL STYLES ------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ------------ LOGIN STYLES ------------*/
.login-image {
    max-width: 80%;
    height: auto;
    border: 2px red solid;
    margin: 20% auto 0px auto;
}

/* ------------ ICON STYLES ------------*/

i {
    margin: 10%;
}

/* ------------ NAVBAR STYLES ------------*/

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

a {
    background-color: transparent;
}
