.button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #555;
  cursor: pointer;
  padding: .7em;
}

.button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
