@media (min-width: 750px) {
  .navbarItem {
    position: relative;
    float: left;
    margin-bottom: 0;
  }
}

@media (min-width: 750px) {
  .navbarLink {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbarLink:hover {
    color: #38d39f;
  }
  .navbarLinkActive {
    color: #2ba77d;
  }
}
