.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 6.2rem;
}

.navbarList {
  list-style: none;
  margin-left: 4rem;
}

.logoutSection {
  margin: 12px 15px 0 0;
}
